* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px; 
  }

  body{
    background-color: blue;

  }

  main{
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 5px rgba(rgba(255, 0, 0, 0.212), rgb(199, 31, 31), blue, alpha);
  }